.playbar {
   position: fixed;
   background-color: #9340fe;
  
   width: calc(100vw - 40px);
   height: 10dvh;
 
   left: 0;
   bottom: 0;
 
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 20px;
   gap: 30px;
 
   & > .togglePlay {
     transform: scale(120%) !important;
   }
 
   & > p {
     font-size: 14px;
   }
 
   & * {
     color: white !important;
   }

 }

 .startBar{
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__item{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .btn__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .btn{
      width: 20px;
      height: 20px;
    }
    p{
      font-size: 8px;
    }
  }
  }
 }
 
 .preview {
   width: 55px;
   height: 55px;
   border-radius: 10px;
 }
 
 .credits {
   color: white;
   display: flex;
   flex-direction: column;
   gap: 4px;
   letter-spacing: 2px;
 
   & > p {
     font-size: 14px;
   }
 }
 
 .slider {
   display: flex;
   align-items: center;
   gap: 20px;
   flex-basis: 600px;
  
 }
 .prevTrack{
  transform: rotate(180deg);
 }